<div class="container">

  <br>

  <h2>
    Bio
  </h2>

  <hr>

  <div class="row">
    <div class="col-sm-12">
      <h2>
        About Jack...
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <p>
        Jack has drummed for:
      </p>
      <p>
        -Mikey Likes It
      </p>
      <p>
        -Half Hallow
      </p>
      <p>
        -Under the Covers
      </p>
      <p>
        -Kore Rozzik
      </p>
      <p>
        -Five By Design
      </p>
      <p>
        Jack Lambros is a Long Island native and enthusiastic drummer. He graduated from Five Towns College with a degree in Video Production and runs his own wedding production company called JL Productions. Jack also works video production side-jobs shooting commercials for small businesses, and works as a videographer for News 12. Jack's commercial video work (and himself) can be seen on local Long Island TV spots.
      </p>
      <p>
        Jack's passion for music and drumming stems from a love for video games and video game music (his favorite being Super Mario), and pop and metal bands like Saga, Baby Metal, Michael McDonald, Hall & Oats, and Rick Astley.
      </p>
      <p>
        Jack has played drums for original punk, rock, and metal bands, as well as pop acts and Top 40 cover bands. He's opened for the likes of Steel Panther, Chris Jericho's Fozzy, and Eddie Money. He's actively practicing, recording drum vieos for his YouTube Channel, and looking for the next musical opportunity!
      </p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <img src="/images/JL-36 copy.jpg" alt="" width="100%">
    </div>
  </div>

  <div class="row">
  </div>

</div>
