<div class="container">

  <h2>
    Contact
  </h2>

  <hr>


  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="formdiv">
        <form method="POST" action="/send_dynamic_email">
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <center><h2>
                Message Jack
              </h2>
              <center><label for="from_email">
                <p>
                  Email Address:
                  </p>
              </label>
              <br>
              <input type="text" name="from_email">
            </div>
          </div>

          <br><br>

          <div class="row">
            <div class="col-xs-12 col-md-12">
              <center><label for="email_subject">
                <p>
                  Subject:
                </p>
              </label>
              <br>
              <input type="text" name="email_subject">
            </div>
          </div>

          <br><br>

          <div class="row">
            <div class="col-xs-12 col-md-12">
              <center><label for="email_content">
                <p>
                  Message:
                </p>
              </label>
              <br>
              <textarea name="email_content" rows="4" cols="20"></textarea>
            </div>
          </div>

          <br>

          <center><input type="submit" class="btn btn-primary">
        </form>
        <br>
        <br>
      </div>
    </div>


    <div class="col-sm-12 col-md-6 col-lg-6">
      <h2>
        <center><a href="mailto:jlambros81@gmail.com">
          Email Jack
        </a>
      </h2>
      <br>
      <br>
      <img src="/images/JL-13 copy.jpg" alt="" width="100%">
    </div>
  </div>

</div>
