<div class="container">

  <h2>
    Contact
  </h2>

  <hr>

  <h2>
    <center><a href="mailto:jlambros81@gmail.com">
      Email Jack
    </a>
  </h2>

  <img src="/images/JL-13 copy.jpg" alt="" width="100%">


</div>
