<div class="flex-container">
  <!-- HOME IMAGE -->
  <div class="flex-items">
    <div class="homepage">
        <div>
          <h1 class="home-name">
            JackLambros.com
          </h1>
        </div>
    </div>
  </div>
</div>

<br>
<br>

<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <h2>
          Latest News
        </h2>
        <ol>
          <p>
            3/29/18
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </ol>
        <ol>
          <p>
            2/17/18
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </ol>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <h2>
          Upcoming Shows
        </h2>
        <ol>
          <p>
            4/20/18
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </ol>
        <ol>
          <p>
            6/7/18
          </p>
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </ol>
        <ol>
          <p>
            9/8/18
          </p>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </p>
        </ol>
        <ol>
          <p>
            10/11/18
          </p>
          <p>
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </ol>
      </div>
    </div>

</div>
