<h2>
  Home
</h2>

<img src="/images/JL-20 copy.jpg" alt="" width="100%">

<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>
          Latest News
        </h2>
      </div>
    </div>

</div>
