<div class="container">

  <h2>
    Photo Gallery
  </h2>

  <hr>

  <div class="row">
    <div class="col-sm-12 col-md- col-lg-4">
      <img src="/images/JL-1 copy.jpg" alt="" width="100%">
    </div>
    <div class="col-sm-12 col-md- col-lg-4">
      <img src="/images/JL-2 copy.jpg" alt="" width="100%">
    </div>
    <div class="col-sm-12 col-md- col-lg-4">
      <img src="/images/JL-3 copy.jpg" alt="" width="100%">
    </div>
  </div>

  <br><br>

  <div class="row">
    <div class="col-sm-12 col-md- col-lg-4">
      <img src="/images/JL-4 copy.jpg" alt="" width="100%">
    </div>
    <div class="col-sm-12 col-md- col-lg-4">
      <img src="/images/JL-5 copy.jpg" alt="" width="100%">
    </div>
    <div class="col-sm-12 col-md- col-lg-4">
      <img src="/images/JL-7 copy.jpg" alt="" width="100%">
    </div>
  </div>

  <br><br>

  <div class="row">
    <div class="col-sm-12 col-md- col-lg-4">
      <img src="/images/JL-8 copy.jpg" alt="" width="100%">
    </div>
    <div class="col-sm-12 col-md- col-lg-4">
      <img src="/images/JL-9 copy.jpg" alt="" width="100%">
    </div>
    <div class="col-sm-12 col-md- col-lg-4">
      <img src="/images/JL-10 copy.jpg" alt="" width="100%">
    </div>
  </div>

  <br><br>

  <div class="row">
    <div class="col-sm-12 col-md- col-lg-4">
      <img src="/images/JL-11 copy.jpg" alt="" width="100%">
    </div>
    <div class="col-sm-12 col-md- col-lg-4">
      <img src="/images/JL-12 copy.jpg" alt="" width="100%">
    </div>
    <div class="col-sm-12 col-md- col-lg-4">
      <img src="/images/JL-14 copy.jpg" alt="" width="100%">
    </div>
  </div>

  <br><br>

  <div class="row">
    <div class="col-sm-12 col-md- col-lg-4">
      <img src="/images/JL-15 copy.jpg" alt="" width="100%">
    </div>
    <div class="col-sm-12 col-md- col-lg-4">
      <img src="/images/JL-18 copy.jpg" alt="" width="100%">
    </div>
    <div class="col-sm-12 col-md- col-lg-4">
      <img src="/images/JL-21 copy.jpg" alt="" width="100%">
    </div>
  </div>

  <br><br>

  <div class="row">
    <div class="col-sm-12 col-md- col-lg-4">
      <img src="/images/JL-22 copy.jpg" alt="" width="100%">
    </div>
    <div class="col-sm-12 col-md- col-lg-4">
      <img src="/images/JL-23 copy.jpg" alt="" width="100%">
    </div>
    <div class="col-sm-12 col-md- col-lg-4">
      <img src="/images/JL-29 copy.jpg" alt="" width="100%">
    </div>
  </div>

  <br><br>

  <div class="row">
    <div class="col-sm-12 col-md- col-lg-4">
      <img src="/images/JL-32 copy.jpg" alt="" width="100%">
    </div>
    <div class="col-sm-12 col-md- col-lg-4">
      <img src="/images/JL-33 copy.jpg" alt="" width="100%">
    </div>
    <div class="col-sm-12 col-md- col-lg-4">
      <img src="/images/JL-34 copy.jpg" alt="" width="100%">
    </div>
  </div>

</div>
