<div class="container">

  <h2>
    Videos
  </h2>

  <hr>

  <div class="row">
    <div class="col-sm-12">
      <center><h2>
        Subscribe to my YouTube Channel
      </h2>
    </div>
    <div class="col-sm-12">
      <center><div class="g-ytsubscribe" data-channel="Jktotheizo1" data-layout="full" data-count="default"></div>
    </div>
  </div>

  <hr>

  <br>
  <br>

  <div class="row">
    <div class="col-sm-12">
      <center><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FJktotheizo%2Fvideos%2F10156237334229783%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
    </div>
    <div class="col-sm-12">
      <center><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FJktotheizo%2Fvideos%2F10156067109524783%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
    </div>
    <div class="col-sm-12">
      <center><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FJktotheizo%2Fvideos%2F10156067106819783%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
    </div>
  </div>

</div>
