<div class="container">

  <br>

  <h2>
    Videos
  </h2>

  <hr>

  <div class="row">
    <div class="col-sm-12">
      <center><h2>
        Subscribe
      </h2>
    </div>
    <div class="col-sm-12">
      <center><div class="g-ytsubscribe" data-channel="Jktotheizo1" data-layout="full" data-count="default"></div>
    </div>
  </div>

  <hr>

  <br>

  <div class="row">
    <div class="col-sm-12">
      <center><h2>
        Drum Videos
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <center><iframe width="500" height="300" src="https://www.youtube.com/embed/DqrNEl4be5c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <center><iframe width="500" height="300" src="https://www.youtube.com/embed/27gv928UsEI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <center><iframe width="500" height="300" src="https://www.youtube.com/embed/0PO9H_dCDrk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <center><iframe width="500" height="300" src="https://www.youtube.com/embed/n8-2vwoM5gA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <center><iframe width="500" height="300" src="https://www.youtube.com/embed/QXKnP_GN0Bw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <center><iframe width="500" height="300" src="https://www.youtube.com/embed/EVWZ5Fvt3Qk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <center><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FJktotheizo%2Fvideos%2F10156237334229783%2F&show_text=0&width=560" width="500" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <center><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FJktotheizo%2Fvideos%2F10156067109524783%2F&show_text=0&width=560" width="500" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <center><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FJktotheizo%2Fvideos%2F10156067106819783%2F&show_text=0&width=560" width="500" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
    </div>
  </div>

</div>
