body {
  background-color: black;
}


h2 {
  font-family: 'PressStart2p';
  color: white;
}

p {
  font-family: 'Orbitron', sans-serif;
  color: white;
}

hr {
  color: white;
}

/*CUSTOM FONT*/
@font-face {
  font-family: 'SNES';
  src: url('SNES italic.ttf');
}

@font-face {
  font-family: 'PressStart2p';
  src: url('PressStart2p.ttf');
}

a, .links {
  color: snow;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

.navbar-logo {
  font-family: 'SNES';
  color: red;
  font-size: 40px;
}

#home-name {
  font-family: 'SNES';
  color: red;
  font-size: 80px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 640px;
  width: 100vw;

  background-image: url('JL-20 copy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;

  color: white;

  .flex-items {
    border: 2px solid white;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
  }

  .homepage {

  }

  .home-name {

   }
}

li, ul {
  color: white;
}
