body {
  background-color: black;
}

h2, p {
  color: white;
}

h1 {
  font-family: 'SNES';
}

/*CUSTOM FONT*/
@font-face {
  font-family: 'SNES';
  src: url('SNES italic.ttf');
}

.navbar {
  /* position: fixed; */
}
