body {
  background-color: black;
}

h2, p {
  color: white;
}

h1 {
  font-family: 'SNES';
  color: red;
}

/*CUSTOM FONT*/
@font-face {
  font-family: 'SNES';
  src: url('SNES italic.ttf');
}

.navbar {
  /* position: fixed; */
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 640px;
  width: 100vw;

  background-image: url('JL-20 copy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;

  color: white;

  .flex-items {
    border: 2px solid white;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
  }

  .homepage {

  }

  .home-name {

   }
}
